* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Trebuchet MS";
}

.header {
  position: sticky;
  top: 0;
}

.navbar {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 15px 32px;
}
.logo {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;

  width: 100%;

  justify-content: flex-end;
}
.menu a {
  color: white;
  text-decoration: none;

  background-color: transparent;
  font-size: 15px;
  padding: 4px 30px;
  margin: 0px 11px;

  border: 0px solid transparent;
  border-radius: 16px;
}

.menu a:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(227, 216, 195);
}

.section {
  min-height: 100vh;
  min-width: 100vh;
}

.START {
  min-height: 100vh;
  min-width: 100vh;
  background-image: url(02.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: rgb(0, 0, 0);
  font-size: 50px;
  background-color: rgb(255, 255, 255);
  padding: 4px 30px;
}
#aboutme {
  background-color: rgb(227, 216, 195);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#interests {
  background-color: rgb(194, 199, 178);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cat {
  background-image: url(66.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#connection {
  background-color: rgb(194, 199, 178);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 20px;
}
h2 {
  font-size: 40px;
  background-color: rgb(255, 255, 255);
  padding: 4px 30px;
}
.hello {
  text-align: center;
}
video {
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}
ul {
  color: rgb(0, 0, 0);
  font-size: 20px;
}
ol {
  color: rgb(0, 0, 0);
  font-size: 20px;
}
